REGISTRY_COORDINATOR_ADDRESS=0x3e43AA225b5cB026C5E8a53f62572b10D526a50B
TARGET_ADDRESS=0xFEDB17c4B3556d2D408C003D2e2cCeD28d4A9Cb3
HTTP_ENDPOINT="http://localhost:8545" # "https://ethereum-holesky.publicnode.com"
